
/* common style */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
  }


  .btn:hover{
    background-color: aqua;
  }

.max-width{
    max-width: 1160px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.font-bold{
    font-weight: bold;

}

.font-20{
    font-size: 1.25rem;
}

.font-32{
    font-size: 2rem;
}

.width-100{
    width: 100%;
}



.btn{
    padding: 0.625rem 3.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: azure;
    border: none;
    border-radius: 0.75rem;
}

.title{
    font-weight: bold;
    font-size: 2.875rem ;
    text-align: center;
}


.radius{
    border-top-left-radius: 1rem ;
    border-top-right-radius: 1rem ;
}


/* nav style */

 ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.marquee{
    background-color: aquamarine;
    color: navy;
    padding: 2px;
    font-weight: bold;
}


/* banner style */


.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
}

.menu-icon{
    display: none;
}

/* standard style */

#standard{
    background: url("../assets/bg.png");
    padding: 2.75rem ;
}

.card-container{
    margin: 5rem auto;
}

.card{
    text-align: center;
    padding: 3.125rem 2.5rem;
    border-radius: 1.125rem ;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.3125rem 0.25rem rgba(70, 106, 118, 0.326) ;
   
}

.card-1{
    background: linear-gradient(180deg ,rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}
.card-2{
    background: linear-gradient(180deg ,rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}
.card-3{
    background: linear-gradient(180deg ,rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(32, 32, 32, 1);
}

.st-text{
    font-size: 0.9375rem;
    font-weight: 400px;
    color: rgba(128, 128, 128, 1);
}

.icon{
    max-width: 6.771vw;
     display: flex;
    margin: 0 auto;
    
}

/* stories */

#stories{
    padding: 2.75rem ;
    background: linear-gradient(rgba(255, 255, 255, 0.144), rgba(255, 255, 255, 0.251)   ,rgba(254, 119, 1, 0.248)) ,url("../assets/bg.png");
    
}

.full-container{
    align-items: normal;
}


.box-text{
    padding: 2rem;
}



.stories-btn{
    margin-top: -1.5625rem;
    padding-left: 2rem;
}

.img-card-btn{
    padding: 0.625rem 1.25rem;
    background-color: rgba(149, 178, 38, 1);
}

.full-container{
    display: flex;
    /* max-width: 1160px; */
}

.width-600{
    

    max-width: 600px;
    height: 630px;
}

.img-card-container{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 1rem;
}

.image-box{
    background-color: rgb(255, 255, 255);
    border-radius: 1.125rem ;
    border: none;
   
}

.width-290px{
    max-width: 290px;
}
.width-540px{
    max-width: 540px;
}

.font-15{
    font-size: 0.9375rem;
}

.pic-btn{
    border-radius: 2.9375rem ;
    color: aliceblue;
    border: none;
}

.single-pic-btn{
    padding: 14px 18px ;
    background-color: rgba(60, 216, 232, 1);

}

.img-text{
    padding: 1rem;
}

/* footer style */

#footer{
    background-color: rgba(1, 172, 253, 1);
    padding: 7.8125rem 0;
}

.color{
    color: #ffffff;
}

.footer-container{
    align-items: first baseline;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
    align-items: center;
}


.logo-title{
    font-weight: bold;
    font-size: 2.625rem;

}

.logo-img{
    max-width: 82px;
    height: 81px;
    
}

.logo-p{
    max-width: 300px;
}




.logo-list a{
    /* margin-bottom: 1.25rem ; */
    font-size: 1.25rem;
    font-weight: 400;
    color: #ffffff;

}

.footer-h{
    font-weight: bold;
    font-size: 1.5rem;
}

.touch{
    align-items: first baseline;
}

a:hover{
    background-color: aqua;
    border: none;
    border-radius: 4px;
    padding: 2px;
  }

@media screen and (max-width: 576px) {
    
    nav{
        border-bottom: 2px solid orange;
    }
  
    .menu-icon{
        display: block;
        text-align: end;
    }

    .nav-second,
     .nav-third,
     .nav-title,
     .single-img-container{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        
        text-align: center;
    }

    .card-container,
    .footer-container{
        flex-direction: column;
    }

    .pic-btn{
        padding: 2px 4px;
        font-size: 7px;
    }

    .stories-btn{
        margin-top: -1rem;
        padding-left: 1rem;
    }

    .our-h{
        font-size: 9px;
    }

    /* #footer{
        padding-left: 5px ;
    } */


}
