
/* common style */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
    font-family: "Quicksand", serif;
  }

.max-width{
    max-width: 1160px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.font-bold{
    font-weight: bold;

}

.font-20{
    font-size: 1.25rem;
}

.font-32{
    font-size: 2rem;
}

.width-100{
    width: 100%;
}

.btn{
    padding: 0.625rem 3.75rem;
    font-weight: 600;
    font-size: 1.25rem;
    color: azure;
    border: none;
    border-radius: 0.75rem;
}

.title{
    font-weight: bold;
    font-size: 2.875rem ;
    text-align: center;
    /* margin-top: 2.75rem; */
}

/* nav style */

 ul{
    list-style: none;
}

a{
    text-decoration: none;
}



/* banner style */


.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
}

.menu-icon{
    display: none;
}

/* standard style */

#standard{
    background: url("../assets/bg.png");
    padding: 2.75rem ;
}

.card-container{
    margin: 5rem auto;
}

.card{
    text-align: center;
    padding: 3.125rem 2.5rem;
    border-radius: 1.125rem ;
    border: none;
    box-shadow: 0.25rem 0.25rem 0.3125rem 0.25rem rgba(70, 106, 118, 0.326) ;
   
}

.card-1{
    background: linear-gradient(180deg ,rgba(222, 245, 255, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}
.card-2{
    background: linear-gradient(180deg ,rgba(255, 244, 220, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}
.card-3{
    background: linear-gradient(180deg ,rgba(238, 225, 255, 1), rgba(255, 255, 255, 0) , rgba(255, 255, 255, 0));
}

.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: rgba(32, 32, 32, 1);
}

.st-text{
    font-size: 0.9375rem;
    font-weight: 400px;
    color: rgba(128, 128, 128, 1);
}

.icon{
    max-width: 6.771vw;
     display: flex;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    
    nav{
        border-bottom: 2px solid orange;
    }
  
    .menu-icon{
        display: block;
        text-align: end;
    }

    .nav-second,
     .nav-third,
     .nav-title{
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        
        text-align: center;
    }

    .card-container{
        flex-direction: column;
    }

}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-text{
        
        text-align: center;
    }
}